@charset "utf-8";
/* CSS Document */

#naviPK{
	height: 50px;
	background-color: aquamarine;
	margin-bottom: 20px;
}

#footerPK{
	background-color: aquamarine;
	height: 400px;
	margin-top: 40px;
}


/* ONLY LARGE */
@media (min-width:1200px){
	#titlevc{
		height: 40px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.titleVC{
		text-align: center;
		font-size: 24pt;
		font-weight: bold;
		color: #d3a13a;
		margin: 0px;
		padding: 0px;
	}
	
	#khungchuacsgh{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	#vanchuyen{
		height: 230px;
		background-color: #ECECEC;
		border-radius: 3px;
		padding: 0px;
	}
	
	.titlesptg{
		font-size: 18pt;
		color: #d3a13a;
		margin: 0px;
		padding-top: 20px;
		padding-bottom: 10px;
		padding-left: 10px;
	}
	
	#vanchuyen ul{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}
	
	#vanchuyen ul li{
		display: block;
		float: left;
		margin-bottom: 10px;
		margin-top: 10px;
		margin-left: 20px;
	}
	
	#vanchuyen ul li i{
		display: block;
		float: left;
		margin-top: 4px;
		padding-right: 10px;
	}
	
	#vanchuyen ul li .textvchuyen{
		display: block;
		float: left;
		padding: 0px;
		margin-left: 10px;
		margin-bottom: 0px;
		font-size: 12pt;
	}
	
	.khungchuaicon{
		height: 180px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.iconvanc{
		font-size: 48pt;
		display: block;
		margin-top: 10px;
		margin-left: 20px;
		margin-bottom: 10px;
		color: #d3a13a;
	}
	
	.texticonvanc{
		font-size: 12pt;
		font-weight: bold;
		margin-left: 20px;
		margin-bottom: 10px;
	}
	
	#vanchuyen2{
		height: 220px;
		background-color: #ECECEC;
		border-radius: 3px;
		padding: 0px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	#vanchuyen2 ul{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}
	
	#vanchuyen2 ul li{
		display: block;
		float: left;
		margin-bottom: 10px;
		margin-top: 10px;
		margin-left: 20px;
	}
	
	#vanchuyen2 ul li i{
		display: block;
		float: left;
		margin-top: 4px;
		padding-right: 10px;
	}
	
	#vanchuyen2 ul li .textvchuyen{
		display: block;
		float: left;
		padding: 0px;
		margin-left: 10px;
		margin-bottom: 0px;
		font-size: 12pt;
	}
	
	
}/*-------------------------------------------*/


/* ONLY MEDIUM */
@media (min-width:992px) and (max-width:1199px){
	#titlevc{
		height: 40px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.titleVC{
		text-align: center;
		font-size: 24pt;
		font-weight: bold;
		color: #d3a13a;
		margin: 0px;
		padding: 0px;
	}
	
	#khungchuacsgh{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	#vanchuyen{
		height: 230px;
		background-color: #ECECEC;
		border-radius: 3px;
		padding: 0px;
	}
	
	.titlesptg{
		font-size: 18pt;
		color: #d3a13a;
		margin: 0px;
		padding-top: 20px;
		padding-bottom: 10px;
		padding-left: 10px;
	}
	
	#vanchuyen ul{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}
	
	#vanchuyen ul li{
		display: block;
		float: left;
		margin-bottom: 10px;
		margin-top: 10px;
		margin-left: 20px;
	}
	
	#vanchuyen ul li i{
		display: block;
		float: left;
		margin-top: 4px;
		padding-right: 10px;
	}
	
	#vanchuyen ul li .textvchuyen{
		display: block;
		float: left;
		padding: 0px;
		margin-left: 10px;
		margin-bottom: 0px;
		font-size: 12pt;
	}
	
	.khungchuaicon{
		height: 180px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.iconvanc{
		font-size: 48pt;
		display: block;
		margin-top: 10px;
		margin-left: 20px;
		margin-bottom: 10px;
		color: #d3a13a;
	}
	
	.texticonvanc{
		font-size: 12pt;
		font-weight: bold;
		margin-left: 20px;
		margin-bottom: 10px;
	}
	
	#vanchuyen2{
		height: 250px;
		background-color: #ECECEC;
		border-radius: 3px;
		padding: 0px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	#vanchuyen2 ul{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}
	
	#vanchuyen2 ul li{
		display: block;
		float: left;
		margin-bottom: 10px;
		margin-top: 10px;
		margin-left: 20px;
	}
	
	#vanchuyen2 ul li i{
		display: block;
		float: left;
		margin-top: 4px;
		padding-right: 10px;
	}
	
	#vanchuyen2 ul li .textvchuyen{
		display: block;
		float: left;
		padding: 0px;
		margin-left: 10px;
		margin-bottom: 0px;
		font-size: 12pt;
	}
	
}
/*----------------------*/


/* ONLY TABLET */
@media (min-width:768px) and (max-width:991px){
	#titlevc{
		height: 40px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.titleVC{
		text-align: center;
		font-size: 24pt;
		font-weight: bold;
		color: #d3a13a;
		margin: 0px;
		padding: 0px;
	}
	
	#khungchuacsgh{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	#vanchuyen{
		height: 250px;
		background-color: #ECECEC;
		border-radius: 3px;
		padding: 0px;
	}
	
	.titlesptg{
		font-size: 18pt;
		color: #d3a13a;
		margin: 0px;
		padding-top: 20px;
		padding-bottom: 10px;
		padding-left: 10px;
	}
	
	#vanchuyen ul{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}
	
	#vanchuyen ul li{
		display: block;
		float: left;
		margin-bottom: 10px;
		margin-top: 10px;
		margin-left: 20px;
	}
	
	#vanchuyen ul li i{
		display: block;
		float: left;
		margin-top: 4px;
		padding-right: 10px;
	}
	
	#vanchuyen ul li .textvchuyen{
		display: block;
		float: left;
		padding: 0px;
		margin-left: 10px;
		margin-bottom: 0px;
		font-size: 12pt;
	}
	
	.khungchuaicon{
		height: 180px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.iconvanc{
		font-size: 48pt;
		display: block;
		margin-top: 10px;
		margin-left: 20px;
		margin-bottom: 10px;
		color: #d3a13a;
	}
	
	.texticonvanc{
		font-size: 12pt;
		font-weight: bold;
		margin-left: 20px;
		margin-bottom: 10px;
	}
	
	#vanchuyen2{
		height: 280px;
		background-color: #ECECEC;
		border-radius: 3px;
		padding: 0px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	#vanchuyen2 ul{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}
	
	#vanchuyen2 ul li{
		display: block;
		float: left;
		margin-bottom: 10px;
		margin-top: 10px;
		margin-left: 20px;
	}
	
	#vanchuyen2 ul li i{
		display: block;
		float: left;
		margin-top: 4px;
		padding-right: 10px;
	}
	
	#vanchuyen2 ul li .textvchuyen{
		display: block;
		float: left;
		padding: 0px;
		margin-left: 10px;
		margin-bottom: 0px;
		font-size: 12pt;
	}
	
}
/*------------------------*/


/* ONLY MOBILE */
@media (max-width:767px){
	#titlevc{
		height: 40px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.titleVC{
		text-align: center;
		font-size: 21pt;
		font-weight: bold;
		color: #d3a13a;
		margin: 0px;
		padding: 0px;
	}
	
	#khungchuacsgh{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	#vanchuyen{
		height: 350px;
		background-color: #ECECEC;
		border-radius: 3px;
		padding: 0px;
	}
	
	.titlesptg{
		font-size: 14pt;
		color: #d3a13a;
		margin: 0px;
		padding-top: 20px;
		padding-bottom: 10px;
		padding-left: 10px;
	}
	
	#vanchuyen ul{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}
	
	#vanchuyen ul li{
		display: block;
		float: left;
		margin-bottom: 10px;
		margin-top: 10px;
		margin-left: 20px;
	}
	
	#vanchuyen ul li i{
		display: block;
		float: left;
		margin-top: 4px;
		padding-right: 10px;
	}
	
	#vanchuyen ul li .textvchuyen{
		display: block;
		float: left;
		padding: 0px;
		margin-bottom: 0px;
		font-size: 12pt;
	}
	
	.khungchuaicon{
		height: 180px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.iconvanc{
		font-size: 48pt;
		display: block;
		margin-top: 10px;
		margin-left: 20px;
		margin-bottom: 10px;
		color: #d3a13a;
	}
	
	.texticonvanc{
		font-size: 12pt;
		font-weight: bold;
		margin-left: 20px;
		margin-bottom: 10px;
	}
	
	#vanchuyen2{
		height: 350px;
		background-color: #ECECEC;
		border-radius: 3px;
		padding: 0px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	#vanchuyen2 ul{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}
	
	#vanchuyen2 ul li{
		display: block;
		float: left;
		margin-bottom: 10px;
		margin-top: 10px;
		margin-left: 20px;
	}
	
	#vanchuyen2 ul li i{
		display: block;
		float: left;
		margin-top: 4px;
		padding-right: 10px;
	}
	
	#vanchuyen2 ul li .textvchuyen{
		display: block;
		float: left;
		padding: 0px;
		margin-bottom: 0px;
		font-size: 12pt;
	}
	
	
}
                      